﻿<%@ Page Title="" Language="C#" MasterPageFile="~/pages/master.Master" AutoEventWireup="true" CodeBehind="home.aspx.cs" Inherits="Inhollandair.pages.home1" %>

<asp:Content ID="Content2" ContentPlaceHolderID="title" runat="server">
    Inhollandair - The Secure Airline
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="content" runat="server">
    <asp:Label ID="Label" runat="server" Text="Welkom!" />
</asp:Content>
