﻿@charset "utf-8";

a:link, a:visited {
    color: grey;
    text-decoration: none;
}

a:active {
    color: grey;
    text-decoration: underline;
}

a:hover {
    color: #EC008C;
    text-decoration: none;
}

header {
    margin: 0 auto;
    width: 960px;
    box-shadow: 0px 0px 7px #555;
}

    header img {
        height: 100px;
    }

    header .account {
        vertical-align: top;
        float: right;
        padding: 5px 5px 0px 0px;
        font-size: 15px;
    }

    header #title {
        color: #EC008C;
        font-size: 55px;
        vertical-align: 45px;
        margin-left: -20px;
    }

    header #nav {
        list-style: none;
        height: 24px;
    }

        header #nav li a {
            color: #EC008C;
            text-decoration: none;
            display: block;
            padding: 5px 10px;
            text-transform: uppercase;
            float: left;
            position: relative;
        }

            header #nav li a:hover {
                background-color: #EC008C;
                color: white;
                -o-transition: .5s;
                -moz-transition: .5s;
                -webkit-transition: .5s;
            }

        header #nav .navright {
            float: right;
        }

section {
    margin: 0 auto;
    width: 960px;
    padding: 10px;
}

.productTable {
    width: 100%;
}

td .right{
    text-align: right;
}

.seperator{
    border-bottom: 1px solid black;
}